body {
    background-color: #f8f4f4;
}

.styled-table {

    border: thin solid black;
    border-collapse: collapse;
    width: 60%;
    margin: 50px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th,
.styled-table td {
    border: thin solid black;
    text-align: left;
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: thin solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f8eee5;
}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: antiquewhite;
}

.styled-table tbody tr.nested {
    /*background-color: red;*/
}